<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" method="post" th:action th:object="${item}">
        <div>
            <label for="itemName">상품명</label>
            <input class="form-control" id="itemName" placeholder="이름을 입력하세요" th:field="*{itemName}" type="text">
        </div>
        <div>
            <label for="price">가격</label>
            <input class="form-control" id="price" placeholder="가격을 입력하세요" th:field="*{price}" type="text">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input class="form-control" id="quantity" placeholder="수량을 입력하세요" th:field="*{quantity}"
                   type="text">
        </div>


        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input class="form-check-input" id="open" th:field="*{open}" type="checkbox">
                <label class="form-check-label" for="open">판매오픈</label>
            </div>
        </div>

        <div>
            <div>등록 지역</div>
            <div class="form-check form-check-inline" th:each="region : ${regions}">
                <input class="form-check-input" th:field="*{regions}" th:value="${region.key}"
                       type="checkbox">
                <label class="form-check-label"
                       th:for="${#ids.prev('regions')}" th:text="${region.value}">서울</label>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|" type="button">취소
                </button>
            </div>
        </div>


    </form>

</div> <!-- /container -->
</body>
</html>